/* =====================================================
          Extra small devices design start
===================================================== */
@media (min-width: 320px) and (max-width: 575.99px) {
  /* ================================================
             header part css start
================================================= */
  .fa-solid,
  .fas {
    font-size: 17px !important;
    padding-right: 3px;
  }
  .fa-solid,
  .fas {
    font-size: 17px !important;
  }
  .header-elm {
    flex-direction: column;
  }
  .header-text {
    flex-direction: column;
  }
  .top-icon {
    padding-right: 0px !important;
  }
  .header-text p {
    border-left: 0;
    padding-left: 0;
    padding-bottom: 3px;
    padding-right: 12px;
  }

  .header-icon i {
    font-size: 18px !important;
  }
  .header-icon {
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
  }
  /* ================================================
             header part css End
================================================= */

  /* ================================================
             Navbar part css start
================================================= */

  .navbar-brand {
    margin-right: 0rem;
  }
  .navbar-light .navbar-brand {
    width: 57%;
  }

  .navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
  .navbar-nav {
    display: flex;
    gap: 11px;
    margin-right: 25px;
    align-items: center;
    margin-top: 30px;
  }
  .common-btn {
    padding: 8px 35px;
    border-radius: 5px;
  }
  .navBtn {
    padding-top: 13.5px;
  }
  .nav-button {
    color: #ffffff;
    font-size: 31px !important;
  }
  /* ================================================
             Navbar part css End
================================================= */
  /* ================================================
             Bannar part css Start
================================================= */

  #bannar {
    background: url(./learn-img.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .bannar-heading {
    width: auto;
    font-size: 31px;
    padding-top: 143px;
  }
  .bannar-btn {
    margin: 31px 0 66px;
  }
  /* ================================================
             Bannar part css End
================================================= */
  /* ================================================
             Suppliy part css start
================================================= */
  .suppliy-heading {
    font-family: "Poppins", sans-serif;
    line-height: 50px;
    font-size: 36px;
    font-weight: 700;
    width: auto;
  }

  .pragraph2 {
    flex-direction: column;
  }
  .suppliy-pragraph {
    width: auto;
    margin-top: 22px;
  }

  /* ================================================
             Suppliy part css End
================================================= */

  /* ================================================
             Carusel part css Start
================================================= */

  /* ================================================
             Carusel part css End
================================================= */
  .swiper-slide {
    width: 130px !important ;
  }
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: calc(0px - (var(--swiper-navigation-size) / 0));
  }
  #carosel {
    margin: 0;
  }
  /* ================================================
             Services part css Start
================================================= */

  .services-text p {
    padding-left: 15px;
    width: auto;
    padding-bottom: 60px;
  }
  .services-text h2 {
    font-size: 38px;
    margin-bottom: 16px;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.609);
    width: 100%;
    height: 100%;
    padding-top: 55px;
    padding-left: 28px;
    transition: 0.4s all linear;
    opacity: 1;
  }
  .services-one:hover .child {
    left: 0;
    opacity: 1;
  }
  .common-heading {
    font-size: 16px;
    line-height: 20px;
  }
  .services-two {
    margin: 25px 0;
  }
  .common-btn:hover {
    background: #f40404 !important;
    border-color: #f40404;
    color: #ffffff;
    z-index: 1;
  }
  .services-one {
    height: 100px;
  }
  .services-one {
    height: 200px;
  }
  .services-one img {
    height: 100%;
  }
  .services-text {
    padding-top: 25px !important;
  }
  /* ================================================
  Services part css End
  ================================================= */
  /* ================================================
  Learn part css Start
  ================================================= */
  .text {
    padding: 115px 65px;
  }
  .learn-img {
    margin: 64px 21% 64px;
    white-space: nowrap;
  }

  /* ================================================
             Learn part css End
================================================= */
  /* ================================================
             Company part css Start
================================================= */

  .company-logo {
    padding-left: 7px;
    padding-bottom: 23px;
  }
  .company-logo a img {
    width: 90%;
  }
  #company {
    padding: 50px 0;
  }

  /* ================================================
             Company part css End
================================================= */
  /* ================================================
             Card part css Start
================================================= */
  #card {
    padding: 80px 0 75px;
  }
  .display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s all linear;
  }
  .card-elm:hover .display {
    left: 0;
  }
  .card-text {
    height: 81%;
    padding-left: 15px;
    padding-bottom: 0;
  }

  .card-heading {
    font-size: 18px;
    line-height: 29px;
    width: auto;
    padding-bottom: 20px;
  }
  .card-elm {
    margin: 0;
    width: 100%;
    height: 350px;
    margin-bottom: 39px;
  }
  .card-elm:nth-child(3) {
    padding: 25px 0 !important;
  }
  .card-heading {
    padding-bottom: 30px;
  }
  /* ================================================
             Card part css End
================================================= */
  /* ================================================
             Map part css Start
================================================= */
  #map {
    height: 130px !important;
  }
  #map img {
    height: 100% !important;
  }

  /* ================================================
             Map part css End
================================================= */
  /* ================================================
             Footer part css Start
================================================= */
  .footer-logo {
    margin-left: 0px;
    margin-top: 50px;
  }
  .icon-footer {
    padding-top: 30px;
    padding-bottom: 58px;
  }
  #footer {
    padding: 110px 0 10px;
  }
  #footer-pragraph p {
    width: auto;
    text-align: start;
  }
  /* ================================================
             Footer part css End
================================================= */
}
/* =====================================================
          Extra small devices design End
===================================================== */
/* =====================================================
             small devices design End
===================================================== */
@media (min-width: 576px) and (max-width: 767.99px) {
  /* ================================================
             header part css start
================================================= */
  .fa-solid,
  .fas {
    font-size: 17px !important;
    padding-right: 3px;
  }
  .fa-solid,
  .fas {
    font-size: 17px !important;
  }
  .header-elm {
    flex-direction: column;
  }
  .header-text {
    flex-direction: column;
  }
  .top-icon {
    padding-right: 0px !important;
  }
  .header-text p {
    border-left: 0;
    padding-left: 0;
    padding-bottom: 3px;
    padding-right: 12px;
  }
  .header-icon i {
    font-size: 18px !important;
  }
  .header-icon {
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
  }
  /* ================================================
             header part css End
================================================= */

  /* ================================================
             Navbar part css start
================================================= */

  .navbar-brand {
    margin-right: 0rem;
  }
  .navbar-light .navbar-brand {
    width: 45%;
  }

  .navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
  .navbar-nav {
    display: flex;
    gap: 11px;
    margin-right: 0px;
    align-items: center;
    margin-top: 30px;
  }
  .common-btn {
    padding: 8px 35px;
    border-radius: 5px;
  }
  .navBtn {
    padding-top: 13.5px;
    text-align: center;
    margin-right: 38px;
  }
  .nav-button {
    color: #ffffff;
    font-size: 35px !important;
  }
  .navbar .nav-item .nav-link {
    font-size: 19px;
  }
  .nav-btn-sbling {
    font-size: 19px;
  }
  /* ================================================
             Navbar part css End
================================================= */
  /* ================================================
             Bannar part css Start
================================================= */

  #bannar {
    background: url(./learn-img.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .bannar-heading {
    width: auto;
    font-size: 31px;
    padding-top: 143px;
  }
  .bannar-btn {
    margin: 31px 0 66px;
  }
  /* ================================================
             Bannar part css End
================================================= */
  /* ================================================
             Suppliy part css start
================================================= */
  .suppliy-heading {
    font-family: "Poppins", sans-serif;
    line-height: 50px;
    font-size: 36px;
    font-weight: 700;
    width: auto;
  }

  .pragraph2 {
    flex-direction: column;
  }
  .suppliy-pragraph {
    width: auto;
    margin-top: 22px;
  }

  /* ================================================
             Suppliy part css End
================================================= */

  /* ================================================
             Carusel part css Start
================================================= */
  .swiper-slide {
    width: 155px !important;
  }
  #carosel {
    margin: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: calc(0px - (var(--swiper-navigation-size) / 0));
  }
  /* ================================================
             Carusel part css End
================================================= */
  /* ================================================
             Services part css Start
================================================= */
  .services-text {
    align-items: start;
  }
  .services-text h2 {
    margin-left: 13px;
  }
  .services-text p {
    padding-left: 15px;
    width: auto;
    padding-bottom: 60px;
  }
  .services-text h2 {
    font-size: 38px;
    margin-bottom: 16px;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.609);
    width: 100%;
    height: 100%;
    padding-top: 145px;
    padding-left: 49px;
    transition: 0.4s all linear;
    opacity: 1;
  }
  .services-one:hover .child {
    left: 0;
    opacity: 1;
  }
  .common-heading {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px !important;
  }
  .services-two {
    margin: 25px 0;
  }
  .common-btn:hover {
    background: #f40404 !important;
    border-color: #f40404;
    color: #ffffff;
    z-index: 1;
  }

  .services-one {
    height: 300px;
  }
  .services-one img {
    height: 100%;
  }
  .services-text {
    padding-top: 25px !important;
  }
  /* ================================================
  Services part css End
  ================================================= */
  /* ================================================
  Learn part css Start
  ================================================= */
  .text {
    padding: 115px 65px;
    margin-bottom: 39px;
    font-size: 20px;
  }
  .learn-img {
    margin: 64px 28% 64px;
    white-space: nowrap;
  }

  /* ================================================
             Learn part css End
================================================= */
  /* ================================================
             Company part css Start
================================================= */

  .company-logo {
    padding-left: 7px;
    padding-bottom: 23px;
  }
  .company-logo a img {
    width: 100%;
  }
  #company {
    padding: 50px 0;
  }
  .company-logo {
    padding-left: 0 !important;
    text-align: center;
  }
  /* ================================================
             Company part css End
================================================= */
  /* ================================================
             Card part css Start
================================================= */
  #card {
    padding: 80px 0 75px;
  }
  .display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s all linear;
  }
  .card-elm:hover .display {
    left: 0;
  }
  .card-text {
    padding-left: 50px;
  }

  .card-heading {
    font-size: 18px;
    line-height: 29px;
    width: auto;
    padding-bottom: 20px;
  }
  .card-elm {
    margin: 0;
    width: 100%;
    height: 450px;
    margin-bottom: 39px;
  }
  .card-elm .card-img-one {
    height: 450px;
  }
  .card-elm .card-img-one .card-img-child-one {
    width: 100%;
  }
  .card-elm:nth-child(3) {
    padding: 25px 0 !important;
  }
  .card-heading {
    padding-bottom: 30px;
  }
  /* ================================================
             Card part css End
================================================= */
  /* ================================================
             Map part css Start
================================================= */
  #map {
    height: 130px !important;
  }
  #map img {
    height: 100% !important;
  }

  /* ================================================
             Map part css End
================================================= */
  /* ================================================
             Contact part css Start
================================================= */
  .contact-btn:hover {
    border-color: #ffffff;
  }
  /* ================================================
             Contact part css End
================================================= */
  /* ================================================
             Footer part css Start
================================================= */
  .footer-logo {
    margin-left: 0px;
    margin-top: 50px;
  }
  .icon-footer {
    padding-top: 30px;
    padding-bottom: 58px;
  }
  #footer {
    padding: 110px 0 10px;
  }
  #footer-pragraph p {
    width: auto;
    text-align: start;
  }
  /* ================================================
             Footer part css End
================================================= */
}
/* =====================================================
             Small devices design End
===================================================== */
/* =====================================================
             Medium devices design Start
===================================================== */
@media (min-width: 768px) and (max-width: 991.99px) {
  /* ================================================
             header part css start
================================================= */
  .fa-solid,
  .fas {
    font-size: 17px !important;
    padding-right: 3px;
  }
  .fa-solid,
  .fas {
    font-size: 17px !important;
  }
  .header-elm {
    flex-direction: column;
  }
  .header-text {
    flex-direction: column;
  }
  .top-icon {
    padding-right: 0px !important;
  }
  .header-text p {
    border-left: 0;
    padding-left: 0;
    padding-bottom: 3px;
    padding-right: 12px;
  }
  .header-icon i {
    font-size: 27px !important;
  }
  .header-icon {
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
  }
  .header-elm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }
  /* ================================================
             header part css End
================================================= */

  /* ================================================
             Navbar part css start
================================================= */

  .navbar-brand {
    margin-right: 0rem;
  }
  .navbar-light .navbar-brand {
    width: 35%;
  }

  .navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
  .navbar-nav {
    display: flex;
    gap: 11px;
    margin-right: 0px;
    align-items: center;
    margin-top: 30px;
  }
  .common-btn {
    padding: 8px 35px;
    border-radius: 5px;
  }
  .navBtn {
    padding-top: 13.5px;
    text-align: center;
    margin-right: 38px;
  }
  .nav-button {
    color: #ffffff;
    font-size: 40px !important;
  }
  .navbar .nav-item .nav-link {
    font-size: 19px;
  }
  .nav-btn-sbling {
    font-size: 19px;
  }
  /* ================================================
             Navbar part css End
================================================= */
  /* ================================================
             Bannar part css Start
================================================= */

  #bannar {
    background: url(./learn-img.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .bannar-heading {
    width: auto;
    font-size: 31px;
    padding-top: 143px;
  }
  .bannar-btn {
    margin: 31px 0 66px;
  }
  /* ================================================
             Bannar part css End
================================================= */
  /* ================================================
             Suppliy part css start
================================================= */
  .suppliy-heading {
    font-family: "Poppins", sans-serif;
    line-height: 50px;
    font-size: 36px;
    font-weight: 700;
    width: auto;
  }

  .pragraph2 {
    flex-direction: column;
  }
  .suppliy-pragraph {
    width: auto;
    margin-top: 22px;
  }

  /* ================================================
             Suppliy part css End
================================================= */

  /* ================================================
             Carusel part css Start
================================================= */
  /* .swiper-slide {
    width: 155px !important;
  }
  #carosel {
    margin: 0;
  /* } */
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: calc(0px - (var(--swiper-navigation-size) / 0));
  }
  /* ================================================
             Carusel part css End
================================================= */
  /* ================================================
             Services part css Start
================================================= */
  .services-text {
    align-items: start;
  }
  .services-text h2 {
    margin-left: 13px;
  }
  .services-text p {
    padding-left: 15px;
    width: auto;
    padding-bottom: 60px;
  }
  .services-text h2 {
    font-size: 38px;
    margin-bottom: 16px;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.609);
    width: 100%;
    height: 100%;
    padding-top: 145px;
    padding-left: 49px;
    transition: 0.4s all linear;
    opacity: 1;
  }
  .services-one:hover .child {
    left: 0;
    opacity: 1;
  }
  .common-heading {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px !important;
  }
  .services-two {
    margin: 25px 0;
  }
  .common-btn:hover {
    background: #f40404 !important;
    border-color: #f40404;
    color: #ffffff;
    z-index: 1;
  }

  .services-one {
    height: 300px;
  }
  .services-one img {
    height: 100%;
  }
  /* ================================================
  Services part css End
  ================================================= */
  /* ================================================
  Learn part css Start
  ================================================= */
  .text {
    padding: 115px 65px;
    margin-bottom: 39px;
    font-size: 20px;
  }
  .learn-img {
    margin: 64px 28% 64px;
    white-space: nowrap;
  }

  /* ================================================
             Learn part css End
================================================= */
  /* ================================================
             Company part css Start
================================================= */

  .company-logo {
    padding-left: 7px;
    padding-bottom: 23px;
  }
  .company-logo a img {
    width: 100%;
  }
  #company {
    padding: 50px 0;
  }
  .company-logo {
    padding-left: 0 !important;
    text-align: center;
  }
  /* ================================================
             Company part css End
================================================= */
  /* ================================================
             Card part css Start
================================================= */
  #card {
    padding: 80px 0 75px;
  }
  .display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s all linear;
  }
  .card-elm:hover .display {
    left: 0;
  }
  .card-text {
    padding-left: 50px;
  }

  .card-heading {
    font-size: 18px;
    line-height: 29px;
    width: auto;
    padding-bottom: 20px;
  }
  .card-elm {
    margin: 0;
    width: 100%;
    height: 450px;
    margin-bottom: 39px;
  }
  .card-elm .card-img-one {
    height: 450px;
  }
  .card-elm .card-img-one .card-img-child-one {
    width: 100%;
  }
  .card-elm:nth-child(3) {
    padding: 25px 0 !important;
  }
  .card-heading {
    padding-bottom: 30px;
  }
  /* ================================================
             Card part css End
================================================= */
  /* ================================================
             Map part css Start
================================================= */
  #map {
    height: 130px !important;
  }
  #map img {
    height: 100% !important;
  }

  /* ================================================
             Map part css End
================================================= */
  /* ================================================
             Footer part css Start
================================================= */
  .footer-logo {
    margin-left: 0px;
    margin-top: 50px;
  }
  .icon-footer {
    padding-top: 30px;
    padding-bottom: 58px;
  }
  #footer {
    padding: 110px 0 10px;
  }
  #footer-pragraph p {
    width: auto;
    text-align: start;
  }
  /* ================================================
             Footer part css End
================================================= */
}
/* =====================================================
             Medium devices design End
===================================================== */
/* =====================================================
             Large devices design Start
===================================================== */
@media (min-width: 992px) and (max-width: 1199.99px) {
  /* ================================================
             header part css start
================================================= */

  /* ================================================
             header part css End
================================================= */

  /* ================================================
             Navbar part css start
================================================= */

  .nav-btn-sbling {
    margin-left: 19px;
  }

  /* ================================================
             Navbar part css End
================================================= */
  /* ================================================
             Bannar part css Start
================================================= */

  /* ================================================
             Bannar part css End
================================================= */
  /* ================================================
             Suppliy part css start
================================================= */

  /* ================================================
             Suppliy part css End
================================================= */

  /* ================================================
             Carusel part css Start
================================================= */
  /* .swiper-slide {
    width: 155px !important;
  }
  #carosel {
    margin: 0;
  /* } */
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: calc(0px - (var(--swiper-navigation-size) / 0));
  }
  /* ================================================
             Carusel part css End
================================================= */
  /* ================================================
             Services part css Start
================================================= */

  .services-text {
    padding-top: 50px;
  }
  .child {
    padding-top: 52px;
    padding-left: 50px;
  }
  .common-heading {
    font-size: 25px;
    line-height: 108%;
  }
  .common-btn {
    padding: 12px 38px;
  }
  /* ================================================
  Services part css End
  ================================================= */
  /* ================================================
  Learn part css Start
  ================================================= */
  .learn-img {
    margin: 168px 282px;
    white-space: nowrap;
  }
  .l-image {
    height: 100%;
  }
  /* ================================================
             Learn part css End
================================================= */
  /* ================================================
             Company part css Start
================================================= */

  /* ================================================
             Company part css End
================================================= */
  /* ================================================
             Card part css Start
================================================= */
  .card-heading {
    font-size: 23px;
    line-height: 27px;
    width: auto;
    padding-bottom: 30px;
  }
  .card-text {
    /* padding-top: 75px; */
    /* padding-left: 46px; */

    padding-left: 25px;
    padding-bottom: 51px;
  }
  .card-elm {
    margin: 0px 16px;
  }
  /* ================================================
             Card part css End
================================================= */
  /* ================================================
             Map part css Start
================================================= */
  #map {
    height: 180px !important;
  }
  #map img {
    height: 100% !important;
  }

  /* ================================================
             Map part css End
================================================= */
  /* ================================================
             Footer part css Start
================================================= */

  /* ================================================
             Footer part css End
================================================= */
}
/* =====================================================
             Large devices design End
===================================================== */
/* =====================================================
          Extra Large devices design Start
===================================================== */
@media (min-width: 1200px) and (max-width: 1399.99px) {
  /* ================================================
             header part css start
================================================= */

  /* ================================================
             header part css End
================================================= */

  /* ================================================
             Navbar part css start
================================================= */

  /* ================================================
             Navbar part css End
================================================= */
  /* ================================================
             Bannar part css Start
================================================= */

  /* ================================================
             Bannar part css End
================================================= */
  /* ================================================
             Suppliy part css start
================================================= */

  /* ================================================
             Suppliy part css End
================================================= */

  /* ================================================
             Carusel part css Start
================================================= */
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: calc(0px - (var(--swiper-navigation-size) / 0));
  }
  /* ================================================
             Carusel part css End
================================================= */
  /* ================================================
             Services part css Start
================================================= */

  .child {
    padding-top: 81px;
    padding-left: 68px;
  }
  /* ================================================
  Services part css End
  ================================================= */
  /* ================================================
  Learn part css Start
  ================================================= */
  .learn-img {
    margin: 168px 282px;
    white-space: nowrap;
  }
  .l-image {
    height: 100%;
  }
  /* ================================================
             Learn part css End
================================================= */
  /* ================================================
             Company part css Start
================================================= */

  /* ================================================
             Company part css End
================================================= */
  /* ================================================
             Card part css Start
================================================= */
  .card-heading {
    font-size: 23px;
    line-height: 27px;
    width: auto;
    padding-bottom: 30px;
  }
  .card-text {
    /* padding-top: 75px; */
    /* padding-left: 46px; */

    padding-left: 25px;
    padding-bottom: 51px;
  }
  .card-elm {
    margin: 0px 16px;
  }
  /* ================================================
             Card part css End
================================================= */
  /* ================================================
             Map part css Start
================================================= */
  #map {
    height: 200px !important;
  }
  #map img {
    height: 100% !important;
  }

  /* ================================================
             Map part css End
================================================= */
  /* ================================================
             Footer part css Start
================================================= */

  /* ================================================
             Footer part css End
================================================= */
}
/* =====================================================
        Extra Large devices design End
===================================================== */
/* =====================================================
        Extra Extra Large devices design End
===================================================== */
@media (min-width: 1400px) {
  /* ==========================================
           Services part start
  ============================================== */
  .child {
    padding-top: 136px !important;
    padding-left: 80px !important;
  }
  /* ==========================================
           Services part End
  ============================================== */
}
/* =====================================================
        Extra Extra Large devices design End
===================================================== */
