@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
}

/* ====================================== commom  css end============================== */

/* ====================================== header part start ============================== */
#header {
  padding: 17px 0;
  background: #282828;
  border-bottom: 1px solid #ffb800;
}
.h-row {
  display: flex;
  flex-direction: row;
}
.header-elm {
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* padding: 0; */
}
.header-text {
  display: flex;
  text-align: center;
  /* vertical-align: middle; */
  gap: 25px;
}
.top-icon {
  padding-right: 2px;
}
.header-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* vertical-align: middle; */
  color: #ffffff;
  border-left: 1px solid #5c6a92;
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
}
.header-text a {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* vertical-align: middle; */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.header-icon {
  display: flex;
  gap: 30px;
}
.header-icon i {
  color: #ffffff;
  font-size: 24px;
}

/* ====================================== header part end ============================== */
/* ====================================== navbar part start ============================== */
.navbar {
  background: #f40404;
  padding: 27px;
}
.navbar-nav {
  display: flex;
  gap: 25px;
}
.navbar .nav-item .nav-link {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}
.navbar .nav-item .nav-link:hover {
  color: #ffffff;
}
.nav-btn-sbling {
  padding: 14px 31px;
  border: 1px solid #ffffff;
  margin-left: 47px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
}

/* ====================================== navbar part end ============================== */

/* ====================================== navbar part start ============================== */
#bannar {
  background: url(./learn-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
#bannar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.6);
  top: 0;
  left: 0;
  z-index: -1;
}
.bannar-heading {
  width: 765px;
  font-size: 54px;
  font-weight: 700;
  line-height: 124%;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding-top: 257px;
  z-index: 1;
}
.bannar-btn {
  /* padding: 13px 40px;
  border: 1px solid #f40404;
  width: fit-content;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f40404;*/
  margin-top: 31px;
  margin-bottom: 257px;

  /* z-index: 1; */
}
.nav-btn-sbling {
  border-color: #ffffff !important;
  border-radius: 2px;
}
.bannar-btn:hover {
  border-color: #ffffff !important;
}
/* ====================================== navbar part end ============================== */
/* ====================================== suppliy part end ============================== */
#suppliy {
  padding-top: 78px;
  padding-bottom: 100px;
}
.suppliy-heading {
  font-family: "Poppins", sans-serif;
  line-height: 72px;
  font-size: 48px;
  font-weight: 700;
  width: 289px;
}
.pragraph2 {
  display: flex;
  align-items: center;
}
.suppliy-pragraph {
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
  width: 651px;
}
/* ====================================== suppliy part end ============================== */
/* ====================================== carrodcel part end ============================== */
#carosel {
  margin: 100px 0 28px;
}
.swiper {
  width: 100%;
  height: 300px;
}
/* ====================================== carrodcel part end ============================== */
/* ====================================== services part end ============================== */

.services-text p {
  width: 355px;
  /* text-align: start; */
  padding-left: 10px;
}
.services-text h2 {
  /* text-align: start; */
  font-weight: 700;
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
  color: #282828;

  margin-bottom: 10px;
}
.services-text {
  display: flex;
  flex-direction: column;
  /* justify-content:center !important; */
  align-items: end;
  padding-right: 61px;
  padding-top: 106px;
}
.common-heading {
  font-weight: 700;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
  color: #ffffff;
  padding-bottom: 20px;
  z-index: 1;
}

.commmon-pragraph {
  font-size: 16;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #6c6c6c;
}
.common-btn {
  padding: 13px 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: #f40404;
  color: #ffffff;
  border: 2px solid #f40404;
  border-radius: 2px;
  transition: all 0.3s ease;
  z-index: 1;
  display: inline-block;
}

.common-btn:hover {
  background: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
  z-index: 1;
}

/* .common-padding {
  padding:147px 116px 139px;
  padding-top: 147px;
  padding-left: 110px;
  padding-bottom: 139px;
} */
.prant .img {
  width: 100%;
}
.services-one {
  position: relative;
  overflow: hidden;
}
.child {
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(40, 40, 40, 0.609);
  width: 100%;
  height: 100%;
  padding-top: 147px;
  padding-left: 116px;
  transition: 0.4s all linear;
  opacity: 0;
}
.services-one:hover .child {
  left: 0;
  opacity: 1;
}
.row {
  --bs-gutter-x: 0px !important;
}
/* ====================================== services part end ============================== */
/* ====================================== learn part end ============================== */
#learn {
  padding: 136px 0px;
  background-color: #f0f0f0;
}
.text {
  background: #f40404;
  height: 100%;
  padding: 164px 75px;
}
.l-image {
  background: url(./learn-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.learn-img {
  margin: 168px 282px;
}
/* ====================================== learn part end ============================== */
/* ====================================== company part end ============================== */

#company {
  padding: 117px 0;
}

.company-logo {
  padding-left: 7px;
}

/* ====================================== company part end ============================== */
/* ====================================== card part start ============================== */
#card {
  padding: 110px 0 162px;
  background: #f0f0f0;
}
.card-elm {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.display {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s all linear;
}
.card-elm:hover .display {
  left: 0;
}

.card-heading {
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 35px;
  width: 249px;
  padding-bottom: 52px;
}

.card-btn {
  color: #ffffff;
  padding: 10px 23px;
  border: 1px solid #ffffff;
  display: inline-block;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.502);
  transition: 0.1s all linear;
}
.card-btn:hover {
  background: #f40404;
  border-color: #f40404;
  color: #ffffff;
}
.card-text {
  /* padding-top:75px ;
  padding-left:46px ; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding-left: 46px;
  padding-bottom: 75px;
}

.card-img-others {
  height: 100%;
  width: auto;
}
.card-img-child-one {
  height: 100%;
  width: auto;
}

.card-elm {
  margin: 0px 40px;
}

/* ====================================== card part end ============================== */
/* ====================================== contact part start ============================== */
#contact {
  background: #f40404;
  padding: 46px 0px;
}
.contact-elm {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contact-heading {
  padding: 0;
}
.contact-btn {
  border-color: #ffffff;
}
/* ====================================== contact part end ============================== */
/* ====================================== footer part start ============================== */
#footer {
  padding: 149px 0 170px;
  background: #1f1f1f;
}
.footer-img {
  width: 100%;
}
.icon-footer {
  display: flex;
  gap: 18px;
  padding-top: 13px;
  margin: 0;
  padding-left: 0;
}
.icon-footer li a i{
  font-size: 28px;
 
}

.icon-footer li  a img{
background-color: #ffffff !important;
border-radius: 20px !important;
width: 100%;
}

.footer-img img {
  width: 43%;
}
.footer-elm,
a,
p {
  color: #ffffff !important;
}
.footer-img {
  margin-bottom: 15px;
}
.text-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list-two ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-one ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-two,
.list-one {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.list {
  display: flex;
  justify-content: space-around;
}

.list-one,
.list-two {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-left: 48px;
}
#footer-pragraph p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #6c6c6c !important;
  text-align: center;
}
#footer-pragraph {
  padding: 43px 0;
  background: #282828;
}
/* ====================================== footer part end ============================== */
/* ====================================== footer part end ============================== */
/* ====================================== footer part end ============================== */
